<h1><%=@post.title %></h1>
<p><%=@post.body %></p>
<hr>
<%if person_signed_in?%>

<%=link_to "Edit" ,edit_post_path(@post),:class =>'btn btn-warning' %>
<%=link_to "Delete" ,post_path(@post),method: :delete,data:{confirm: "Are you sure?"},:class =>'btn btn-danger' %>
<%end %>
<br>

<h2>All comments</h2>
<% @post.comments.each do |comment|  %>
  <div class="alert alert-light">
   <p><strong><%=comment.username%></strong>:<%=comment.body %></p>
  </div>
<% end %>

<h2>Add new comment</h2>

<%=form_for Array[@post,@post.comments.build] do |f|%>

  <p>user<br>
    <%=f.text_field :username ,class: 'form-control' %>
  </p>
  <p>Text of comment<br>
    <%=f.text_area :body ,class: 'form-control' %>
  </p>


  <%=f.submit :"Add comment"%>

  </p>

<%end %>